name: healthcheck
description: 'Health the server'
inputs:
  host:
    description: 'Server full ip'
    required: true
  endpoint:
    description: 'Server healthcheck endpoint'
    required: false
    default: 'eso'
  body:
    description: 'Expected body response from the Server'
    required: false
    default: 'brad'
runs:
  using: "composite"
  steps:
    - name: Health Check
      env:
        EXPECTED_BODY: ${{ inputs.body }}
        HEALTHCHECK_URL: "${{ inputs.host }}/${{ inputs.endpoint }}"
        run: |
          echo "Healthcheck URL: $HEALTHCHECK_URL"

          for i in {1..10}; do
            status_code=$(curl -s -o /dev/null -w "%{http_code}" "$HEALTHCHECK_URL")
            body=$(curl -s "$HEALTHCHECK_URL")

            if [ "$status_code" = "200" ]; then
              if [ -z "$EXPECTED_BODY" ] || [ "$body" = "$EXPECTED_BODY" ]; then
                echo "✅ Server is up and returning expected response!"
                exit 0
              fi
            fi

            echo "⏳ Attempt $i: Server not ready yet (Status: $status_code), waiting 5 seconds..."
            sleep 5
          done

          echo "❌ Server did not return expected response in time"
          exit 1
